.container {
  height: 45px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home_container {
  text-align: start;
  width: 80%;
}

.header_tag:hover{
  text-decoration: underline;
  color: rgb(0, 72, 255);
  font-size: larger;
  transition: 400ms;
}

@media screen and (max-width:768px) {
  .header_tag{
    padding: 10px;
  }
}