.container {
  height: 45px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home_container {
  text-align: start;
  width: 80%;
}
.header_tag {
  color: black;
  font-weight: bolder;
  font-size: 18px;
  padding: 15px;
  border-radius: 5px;
  text-decoration: none;
}

@media screen and (max-width:768px) {
  .header_tag{
    padding: 10px;
  }
}