.page_container {
  background: linear-gradient(to bottom, rgb(90, 0, 174), rgb(72, 3, 246));
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.container {
  padding-left: 10px;
  background-color: white;
  border-radius: 15px;
  width: 700px;
}
.info_tag{
  width: 150px;
}
.info_container {
  display: flex;
  align-items: center;
}
.tag {
  margin-left: 15px;
}

.img {
  width: 150px;
  height: 150px;
}
.img_container {
 
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .page_container {
    height: 800px;
  }
  .container {
    width: 90%;
  }
  .img {
    height: 100px;
    width: 100px;
  }
}
