.container {
  background: linear-gradient(to bottom, rgb(1, 58, 245), rgb(77, 128, 249));
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 900px;
}
.arrow_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}

.arrow {
  padding: 10px;
  font-size: 30px;
  background-color: white;
  border-radius: 25px;
}
.info_container {
  display: flex;
  color: rgb(0, 140, 255);
  flex-wrap: wrap;
  background-color: white;
  border-radius: 10px;
  width: 35%;
}
.using_test {
  display: flex;
  flex-wrap: wrap;
}
.arrow:hover {
  transition: 500ms;
  background-color: rgb(0, 0, 0);
  color: white;
}
.project_name {
  margin: 0px;
}
.img {
  background-color: white;
  border-radius: 10px;
  width: 35%;
  height: 30%;
}
.info {
}
.link {
  color: white;
  font-size: 22px;
  background-color: black;
  border-radius: 15px;
  text-decoration: none;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .img {
    width: 90%;
    height: 30%;
  }
  .arrow_container {
    margin: 15px;
    justify-content: space-between;
    width: 95%;
  }
  .info {
  }
  .info_container {
    padding-left: 10px;
    width: 95%;
  }
}
